/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* custom properties */
:root {
    /* colors */
    --clr-dark: 225 16% 21%;    /* Gunmetal Blue */
    --clr-white: 0 0% 100%;        /* Pure White */
    --clr-muted: 227 9% 47%;  /* Storm Gray */
    --clr-accent-gold: 41 19% 56%; /* Muted Gold */


    /* font size */
    --fs-900: 9.375rem; /* 150px */
    --fs-800: 6.25rem;  /* 100px */
    --fs-700: 3.5rem;   /* 56px */
    --fs-600: 2rem;     /* 32px */
    --fs-500: 1.75rem;  /* 28px */
    --fs-400: 1.125rem; /* 18px */
    --fs-300: 1rem;     /* 16px */
    --fs-200: 0.875rem; /* 14px */

    /* font weights */
    --fw-400: 400;
    --fw-700: 700;

    /* font families */
    --ff-oswald: "Oswald", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;

    /* spacing */
    --gap: 1rem;
    --space-1: 0.25rem; /* 4px */
    --space-2: 0.5rem;  /* 8px */
    --space-3: 0.75rem; /* 12px */
    --space-4: 1rem;    /* 16px */
    --space-6: 1.5rem;  /* 24px */
    --space-7: 1.75rem; 
    --space-8: 2rem;    /* 32px */
    --space-12: 3rem;   /* 48px */
}


/* utility classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.style-none {
  list-style: none;
}

/* colors */
/* Charcoal Blue: 0.92 alpha */
/* Storm Gray: 0.67 alpha */
.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-white { background-color: hsl(var(--clr-white));}
.bg-muted {background-color: hsl(var(--clr-muted));}
.bg-accent-gold { background-color: hsl(var(--clr-accent-gold));}

.text-dark { color: hsl(var(--clr-dark));}
.text-white { color: hsl(var(--clr-white));}
.text-muted { color: hsl(var(--clr-muted));}
.text-accent-gold { color: hsl(var(--clr-accent-gold));}

/* typography  */
.ff-serif-oswald { font-family: var(--ff-oswald); } 
.ff-serif-montserrat { font-family: var(--ff-montserrat); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-500,
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-400 { font-weight: var(--fw-400); }
.fw-700 { font-weight: var(--fw-700); }

/* component classes */

body {
  font-family: var(--ff-montserrat);
}

.header {
  position: sticky;
  top: 0;
}

.nav-container {
    align-items: center;
    justify-content: space-between;
}

.nav-links {
  align-items: center;
  gap: var(--space-7);
}

.nav-link {
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-link a {
  text-decoration: none;
}

.nav-link:nth-child(1),
.nav-link:nth-child(2),
.nav-link:nth-child(3) {
  display: none;
}

.signup-btn {
  border-radius: 2rem;
  padding: .2em 1em;
}

.main {
  background-color: hsl( var(--clr-dark) / .92);
  align-items: center;
  justify-content: center;
}

.main-content {
  padding: 8em 0;
}

.main-content a {
  text-decoration: none;
}

.main-content > * {
  margin-bottom: 2.5rem;
}

.features {
  background-color: hsl(var(--clr-accent-gold)/.11);
  align-items: center;
  justify-content: center;
}

.feature-content {
  padding: 6rem 0;
}

.feature-content > * {
  margin-bottom: 2.5rem;
  text-align: center;
}

.feature-col h2 {
  margin-bottom: .4em;
}

.detail-content {
  padding: 6em 0;
}

.detail-content > * {
  margin-bottom: 2.5rem;
}

.detail-col > * {
  margin-bottom: 1.5rem;
}

.detail-img {
  width: 100%;
}

.detail-cards {
  margin-bottom: 0;
}

.detail-cards .card {
  padding: 3em 1.5em;
  text-align: center;
}

/* footer */
.footer {
  background-color: hsl( var(--clr-dark) / .92);
  padding: 4em 0;
}


.footer-links {
  padding: 0;
  /* margin: 0; */
}

@media (min-width: 43.75em) {
  .nav-link:nth-child(1),
  .nav-link:nth-child(2),
  .nav-link:nth-child(3) {
    display: inline;
  }

  .main-content {
    width: 80%;
  }

  .feature-content {
    display: flex;
    text-align: center;
    gap: var(--gap);
  }

  .detail-cards {
    display: flex;
    gap: var(--gap);
  }

  .footer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 1rem .5rem;
    gap: 2rem;
   
  }

  .footer-links:first-child {
    grid-column: span 4;
  }
}

@media (min-width: 62.5em) {
  .main-content {
    width: 65%;
  }

  .detail-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: var(--gap);
  }

  .detail-col:first-child {
    margin-bottom: 0;
    width: 65%;
  }

  .detail-cards {
    flex-direction: column;
    width: 45%;
  }
}


